
/* ==== Scroll down to find where to put your styles :) ==== */

/*  HTML5 ✰ Boilerplate  */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { font:13px/1.231 sans-serif; *font-size:small; } 
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
ul, ol { margin: 1em 0 1em 2em }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 55%; }
strong, th { font-weight: bold; }
em{ font-style: italic; }
td { vertical-align: top; }

sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; }
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }

::-moz-selection{ background: #333; color:#000; text-shadow: none; }
::selection { background:#333; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #FF5E99; }

button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

/*** GENERAL STYLE **/

.container{
    width: 900px;
    margin: 0 auto;
}

.button{
    position: relative;
    display: inline-block;
    background: #f47920;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 3px 0px #d25708;
    color: white;    
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.button:hover{
    top: 3px;
    box-shadow: 0 1px 0 #d25708;
}

/** block style */

.header{
    position: relative;
    z-index: 10;
    padding: 10px 0;
    background-color: #2b2b2b;
    border-bottom: 5px solid #f47920;
}

.header h1{
    width : 100px;
}

.header h1 a{
    color: #f47920;
    text-decoration: none;
    font-size: 1.5em;
}

.header h1, .header nav{
    float: left;
}

.header nav{ width : 800px; text-align: right; }
.header nav ul li{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding: 0 5px;
}
.header nav ul li a{
    color: white;
    text-decoration: none;
}

#top{
    margin-top: 40px;
    text-align: center;
}
#top pre{
    text-align: left;
    white-space: pre;
}
#top h1{
    color: #f47920;
    font-size: 8em;
}
#top h2{
    font-size: 1.3em;
}

#main, #footer{
    background: #EDEDED;
    border-top: 1px solid #E9E9E9;
}

#main {
    margin-top: 40px;
    padding-top: 40px;
	padding-bottom: 10px;
}

#main h2{
    color: #F47920;
    font-size: 2em;
    margin: .5em 0;
}

#content p{
    font-size: 1.1em;
	margin-bottom: 1em;
}

.last-update{
    width: 295px;
    margin:  0 auto;
    margin-bottom: 20px;
}

.last-update .version{
    text-align: center;
    border:  1px solid #a9a9a9;
    background: #bcbcbc;
    color: white;
    width: 100px;
    float: left;
    padding:  5px;
    text-shadow: 0px 2px 2px #6a6a6a;
    height: 68px;
}

.last-update .version-number{
    font-size: 2em;
}

.last-update .version a{
    display: block;
    background: #efefef;
    color: #6a6a6a;
    text-decoration: none;
    border: 1px solid #989898;
    text-shadow: 0px -1px 1px #ffffff;
}

.last-update .version a:hover{
    display: block;
    background: #dedede;
    color: #6a6a6a;
    text-decoration: none;
    border: 1px solid #a9a9a9;
}

.last-update .links{
    width: 172px;
    float: left;
    border-top: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;
    height: 68px;
    padding:  5px;
    background: #fefefe
}

.last-update .links a{
    display: block;
    text-decoration: none;
    margin-top: 12px;
    color: #F47920;
	display: block;
	background: url(../imgs/file.png) no-repeat top left;
	padding-left: 20px;
}

.columns{
	overflow: hidden;
}

.columns .column{
	width : 29%;
	float: left;
	margin-bottom: -200px;
	padding-bottom: 200px;
}

.columns .column.middle{
	border-left: 1px solid white;
	border-right: 1px solid white;
	padding-left: 2%;
	padding-right: 2%;
	margin-left: 2%;
	margin-right: 2%;
}

#content a{
	color: #0A0;
	text-decoration: none;
}

#contant a:hover{
	text-decoration: underline;
}

pre .str, code .str { color: #00AA00; } /* string  - green */
pre .kwd, code .kwd { color: #fc6c06; } /* keyword - dark pink */
pre .com, code .com { color: #000; font-style: italic; } /* comment - gray */
pre .typ, code .typ { color: #89bdff; } /* type - light blue */
pre .lit, code .lit { color: #3387CC; } /* literal - blue */
pre .pun, code .pun { color: #000; } /* punctuation - white */
pre .pln, code .pln { color: #000; } /* plaintext - white */
pre .tag, code .tag { color: #89bdff; } /* html/xml tag    - light blue */
pre .atn, code .atn { color: #bdb76b; } /* html/xml attribute name  - khaki */
pre .atv, code .atv { color: #65B042; } /* html/xml attribute value - green */
pre .dec, code .dec { color: #3387CC; } /* decimal - blue */

pre.prettyprint, code.prettyprint {
  color: #000000;
  position: relative;
  background-color: #f2f2f2;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  font-size: 1em;
  transition: all .3s; 
  -webkit-transition: all .3s; 
  -moz-transition: all .3s; 
  -o-transition: all .3s;
  -khtml-transition: all .3s; 
  -ms-transition: all .3s;
}

pre.prettyprint {
  margin: 1em auto;
  padding: 1em;
  white-space: pre-wrap;
}


/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0; color: #AEAEAE; } /* IE indents via margin-left */
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 { list-style-type: none }
/* Alternate shading for lines */
li.L1,li.L3,li.L5,li.L7,li.L9 { }

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.notDisplayed{ display: none; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

#link{
  position: fixed;
  top: 0%;
  right: 0%;
}

@media only screen and (max-width: 480px){
  html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; }
  body { font:12px/1.1 sans-serif; *font-size:small; } 
  header{ display: none; }
  #top{margin-top: 20px; }
  #top h1{ font-size: 5.5em; }
  .container{
	width: 90%;
  }
  
  pre.prettyprint{ font-size: 0.8em; }
  
  .columns .column{
	float: none;
	width: 100%;
	padding-bottom: 0;
	margin-bottom: 0;
	border-bottom: 1px solid white;
	margin-bottom: 20px;
  }
  
  .columns .column.middle{
	border-left:0;
	border-right: 0;
	padding: 0;
	margin: 0 0 20px;
  }
}

@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } 
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
  pre .str, code .str { color: #060; }
  pre .kwd, code .kwd { color: #006; font-weight: bold; }
  pre .com, code .com { color: #600; font-style: italic; }
  pre .typ, code .typ { color: #404; font-weight: bold; }
  pre .lit, code .lit { color: #044; }
  pre .pun, code .pun { color: #440; }
  pre .pln, code .pln { color: #000; }
  pre .tag, code .tag { color: #006; font-weight: bold; }
  pre .atn, code .atn { color: #404; }
  pre .atv, code .atv { color: #060; }
}